.header-img{
    width: 100%;
    background-color:burlywood;
}
tr, tbody{
    width: 100%;
}
.left-h img{
    width: 15%;
}
.left-h img{
    width: 100%;
    height: auto;
    text-align: right;
    object-fit: cover;
}
.right-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
